/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

/* Variables */

:root {
    --WF-border-color: #edf2f7;
    --body-background: #EDF2F7;
    --days-background: #E2E8F0;
    --bold-font-color: #4A5568;
    --border-radius-sm: 4px;
    --box-shadow-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

/* General styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
}

body {
    max-width: 500px;
    margin: auto;
    position: relative;
    background-color: var(--body-background);
}

/* Header wrapper */

.header-container {
    position: sticky;
    top: 0;
    background: white;
}

.header {
    display: flex;
    justify-content: space-around;
    height: 32px;
}

.header-components {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    color: black;
}

.triangle-left {
    display: flex;
    align-items: center;
    color: black;
}

.triangle-right {
    display: flex;
    align-items: center;
    color: black;
}

.calendar {
    display: flex;
    align-items: center;
}

/* Weekdays wrapper styles */

#days-wrapper{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: white;
    box-shadow: var(--box-shadow-md);
}

.day-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--days-background);
    border-radius: var(--border-radius-sm);
    width: 3.5rem;
    height: 3.5rem;
}

.day {
    font-size: 1.8rem;
    color: black;
    height: 2rem;
    cursor: pointer;
    text-decoration: none;
}

.day-date {
    font-size: 1rem;
}

.what-day-is {
    margin-top: 2.2rem;
}

/* Panels wrapper */

.panel-container {
    overflow-y: scroll;
    height: 70vh;
    scroll-behavior: smooth;
}

.cross {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 18px;
    cursor: pointer;
}


.panel {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 30px;
    background-color: white;
    border: 3px solid var(--WF-border-color);
    border-radius: var(--border-radius-sm);
}

#monday {
    margin-top: 3rem;
}

.lesson-time {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--bold-font-color);
}

#tnp {
    display: flex;
    justify-content: space-between;
}

.lesson-class {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--bold-font-color);
}

.lesson-card-content {
    opacity: 0.7;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

/* MODAL FOR SEARCH */

.modal {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 100;
}

.active {
    display: block;
}

.modal .search { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: center;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

input { 
    display: flex;
    width: 90%;
    height: 40px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    font-size: 1.2rem;
}

.results {
    display: flex;
    flex-direction: column;
    list-style: none;
}

/* Footer section */

.footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--bold-font-color);
    position: fixed; 
    bottom: 0;
    height: 4rem;
    width: 100%;
}
.star {
  display: flex;
  align-items: center;
}
.group-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#group {
    color: white;
    font-size: 18px;
}
.search-button {
    display: flex;
    align-items: center;
    justify-content: right;
}

/* Favourite section */
.favorite-container {
    display: none;
    background: rgba(34, 34, 34, 0.5);
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}

.favourite {
    position: fixed;
    background-color: white;
    bottom: 0px;
    right: 0;
    left: 0;
    border-style: solid;
    border-color: black;
}

.view-name {
    font-size: 20px;
    font-weight: 700;
}

.fav-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 35px;
}

.choices {
    display: flex;
    justify-content: space-around;
    margin-bottom: 14px;
}

.cancel-favorites {
    cursor: pointer;
}