* {
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    height: 32px;
    background-color: rgb(50, 50, 50);
}

.header-components {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    color: white;
}

.triangle-left {
    display: flex;
    align-items: center;
}

.triangle-right {
    display: flex;
    align-items: center;
}

.calendar {
    display: flex;
    align-items: center;
}

#päevad {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    background-color: yellow;
}

.day {
    display: flex;
    justify-content: center;
    /*height: 40px;
    width: 40px; */
    margin: 5px;
    padding: 12px;
    background-color: black;
    border-radius: 10px;
}

.panel {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    background-color: yellow;
    border-radius: 10px;
}

button {
    background-color: teal;
    border-radius: 20px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .footer {
      display: flex;
      justify-content: space-around;
      background-color: black;
      border: 2px solid black;
      border-width: 100%;
      position: sticky; bottom: 0;
      height: 64px;
      width: 100%;
  }

  .star {
    display: flex;
    align-items: center;
  }

  .group-box {
      display: flex;
      align-items: center;
      justify-content: flex-start;
  }

  #group {
      color: white;
      font-size: 18px;
  }

  .search-button {
      display: flex;
      align-items: center;
      justify-content: right;
  }