/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

/* Variables */

:root {
    --WF-border-color: #1A1A1A;
}

/* General styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

body {
    max-width: 500px;
    margin: auto;
}

#header {
    display: flex;
}

/* Weekdays wrapper styles */

#days-wrapper{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: white;
    border: 3px solid var(--WF-border-color);
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    border: 3px solid var(--WF-border-color);
    text-decoration: none;
    font-size: 2rem;
    color: black;
    line-height: 2rem;
}

.day span {
    font-size: 1rem;
}

.panel {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    width: 320px;
    background-color: whitesmoke;
    border-style: solid;
    border-color: black;
    font-family: Balsamiq Sans;
    font-style: normal;
    font-weight: bold;
}

button {
    background-color: teal;
    border-radius: 20px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
